/*Mеню / Menu*/

/*если не нравится меню только по центру / if you don't like the menu only in the center*/
.l-top_menu-v2 {
    padding: 0 300px; /*удалить это / remove this code */


}
.l-top_menu-v2 {
	padding: 0 300px; /*удалить это / remove this code */

}
@media screen and (max-width: 1600px) { /*удалить это / remove this code */
    .l-top_menu-v2 {
		padding:0 200px;
    }
}
@media screen and (max-width: 1366px) { /*удалить это / remove this code */
    .l-top_menu-v2 {
		padding: 0 100px;
    }
}
@media screen and (max-width: 1280px) { /*удалить это / remove this code */
    .l-top_menu-v2 {
		padding: 0 0px;
    }
}
.l-top_menu-v2 .menu-dropdown.profile > span img {
    height: 30px;
    pointer-events: none;
    border-radius: 100%;
}

/*Выпадающее меню цвет / Dropdown menu color*/
.l-top_menu-v2 .submenu > a.active {
    background: #303030a8;
    color: #fe9329; /*цвет текста / text color*/
	border-radius: 5px 5px 5px 5px; /*скругление углов в выпадающее меню / round corners to dropdown menu*/
	border: solid 2px;
}
.l-top_menu-v2 .submenu {
background: #303030a8 /*выпадающее меню не прозрачность / dropdown menu is not transparent*/
}

.l-top_menu-v2 {
box-shadow: 0 2px 10px 5px rgb(52, 52, 52); /*тень под меню  / shadow under the menu*/
}


.l-top_menu-v2 .menu-dropdown > span {
    background: #0000
}

.l-top_menu-v2 .submenu > a.icon-mail:hover span.unread span {
    color: #fe9329;
}

.l-top_menu-v2 .menu-icon:hover {
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
    background-color: #61666d;
    color: #fe9329;
}я
.l-top_menu-v2 .submenu > a.icon-mail span.unread span:not(:last-child)::after {
	background: #6f6fc5;
	height: 25px;
	margin: 0px 4px 0;
}

.l-top_menu-v2 .submenu > a.icon-mail span.unread span:first-child {
	color: #50ff00a3;
}
.l-top_menu-v2 .submenu > a.icon-mail:hover span.unread span:first-child  {
    color: #50ff00cf;
}
.l-top_menu-v2 .submenu > a.icon-mail span.unread span:nth-child(2n) {
	color: #ff5f5fc4;
}
.l-top_menu-v2 .submenu > a.icon-mail:hover span.unread span:nth-child(2n) {
 color: #ff5f5f
}
.l-top_menu-v2 .submenu > a.icon-mail span.unread span:nth-child(3n) {
	color: #82c1f9;
}
.l-top_menu-v2 .submenu > a.icon-mail:hover span.unread span:nth-child(3n) {
    color: #0c8dff;
}
/*0.7v*/
